<h4 class="control-sidebar-heading">{{t('Layout Options')}}</h4>
<div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="fixed"
            class="pull-right"> {{t('Fixed layout')}}</label>
    <p>{{t('Activate the fixed layout. You can not use fixed and boxed layouts together')}}</p>
</div>
<div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="layout-boxed"
            class="pull-right"> {{t('Boxed Layout')}}</label>
    <p>{{t('Activate the boxed layout')}}</p>
</div>
<div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="sidebar-collapse"
            class="pull-right">{{t('Toggle Sidebar')}}</label>
    <p>{{t('Toggle the left sidebar state (open or collapse)')}}</p>
</div>
<div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-enable="expandOnHover"
            class="pull-right">{{t('Sidebar Expand on Hover')}}</label>
    <p>{{t('Let the sidebar mini expand on hover')}}</p>
</div>
<div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
            data-controlsidebar="control-sidebar-open" class="pull-right">{{t('Toggle Right Sidebar Slide')}}</label>
    <p>{{t('Toggle between slide over content and push content effects')}}</p>
</div>
<div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-sidebarskin="toggle"
            class="pull-right">{{t('Toggle Right Sidebar Skin')}}</label>
    <p>{{t('Toggle between dark and light skins for the right sidebar')}}</p>
</div>